body {
    background-image: url("./../../images/TD3/df-min.jpg");
    font-family : 'Trebuchet MS', sans-serif;
}

.Bigbox {
    background-color: orangered;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    
}

.Grostitre {
    font-size:50px;
}

.Smallboxes {
    display: flex;
    justify-content: space-between;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: justify;
    height:600px; /* modifier taille div contenant les boites pour ajuster le flexbox */
}

.Box {
    margin:5px;
    justify-content: center;
    background-color: white;
    border-radius: 15px;
    padding-bottom: 20px;
    padding-top: 20px;
    align-items:flex-end;
}

footer {
    background-color: darkslategrey;
    color:white;
    height:60px;
    text-align: center;
}