body {
    background-color: black;
    color: white;
    font-family : 'Trebuchet MS', sans-serif;
}

.liste {
    margin-left: 30px;
}

.liste a {
    text-decoration: none;
    color:white;
}

.liste li {
    margin-bottom: 1em;
}