body {
    background-color: black;
    font-family : verdana;
}


h1 {
    color: #a3bfa6;
    font-weight:bold;
}

h2 {
    color:#7ed690;
    text-decoration: underline;
}

h3 {
    color: darkgrey;
}

h4 { 
    color : #784842;
    font-weight: bold
}

p {
    color: darkgrey;
    letter-spacing: 1px;
}